*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.barra-lateral {
    width: 300px;
    background-color: #b94f48;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.perfil {
    text-align: center;
    padding: 20px;
}

.perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.perfil h2 {
    margin: 0;
    font-size: 24px;
}

.perfil p {
    margin: 5px 0;
    font-size: 16px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.menu li:hover {
    background-color: rgba(0,0,0,0.1);
}

.iconos-sociales {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.iconos-sociales a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}