* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    min-height: 100vh;
}

.contenedor {
    display: flex;
    padding-left: 320px;
    width: 100%;
}

.barra-lateral {
    width: 300px;
    background-color: #8b1414a1;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
}

.perfil {
    text-align: center;
    padding: 20px;

}

.perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.perfil h2 {
    margin: 0;
    padding-top: 10px;
    font-size: 24px;
}

.perfil p {
    margin: 5px 0;
    font-size: 16px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-block-end: 1px solid rgba(255, 255, 255, 0.1);

}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.iconos-sociales {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.iconos-sociales a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}


.año {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.contenido-principal {
    flex-grow: 1;
    padding: 40px;
    text-align: center;
}

/* Estilos adicionales */
.contenido-principal h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
    display: inline-block;
    border-bottom: 5px solid #5e1d22;
}

.contenido-principal p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    margin: 0 auto;
}


.titulo-hobbies {
    font-size: 28px;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    border-bottom: 5px solid #5e1d22;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.card-content {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}

.titulo-me-gustaria {
    font-size: 28px;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    border-bottom: 5px solid #5e1d22;
}

.container-gustaria {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px 0;
    max-width: 1500px;
    margin: 0 auto;
 
}

.container-gustaria .item {
    flex: 0 0 25%;
    margin: 0 15px;
    box-sizing: border-box;
    text-align: center;
    scroll-snap-align: start;
}

.container-gustaria .item img {
    width: 100%;
    height: auto;
    /* Cambiado para mantener proporciones */
    max-height: 200px;
    /* Ajuste opcional para limitar el tamaño */
    object-fit: cover;
    border-radius: 10px;
}

.container-gustaria .item p {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
}




/* Media Queries para pantallas pequeñas */
@media (max-width: 1200px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .contenedor {
        padding-left: 0;
    }
    .barra-lateral {
        width: 100%;
        height: auto;
        position: static;
        margin-right: 0;
        padding: 10px;
        min-height: auto;
    }
    .contenido-principal {
        padding: 20px;
    }
    .container {
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin: 10px 0;
    }
    .container-gustaria {
        flex-direction: column;
        align-items: center;
    }
    .item {
        flex: 0 0 100%;
        margin: 10px 0;
    }
    .item img {
        max-height: 150px; /* Ajustar según sea necesario */
    }
}


@media (max-width: 480px) {
    .contenedor {
        flex-direction: column;
        padding-left: 0;
    }
    .barra-lateral {
        width: 100%;
        position: static;
        margin-right: 0;
        padding: 10px;
        min-height: auto;
    }
    .contenido-principal {
        padding: 10px;
    }
    .container {
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin: 10px 0;
    }
    .container-gustaria {
        flex-direction: column;
        align-items: center;
    }
    .item {
        flex: 0 0 100%;
        margin: 10px 0;
    }
    .item img {
        max-height: 120px; /* Ajustar según sea necesario */
    }
    .card-title {
        font-size: 18px; /* Tamaño reducido para móviles */
    }
    .card-content {
        font-size: 14px; /* Tamaño reducido para móviles */
    }
    .titulo-hobbies,
    .titulo-me-gustaria {
        font-size: 24px; /* Tamaño reducido para móviles */
    }
}
